# Charging Sessions

A charging session is decribed by

- an arrival date and time `t_start`
- a departure date and time `t_end`
- an energy charged `energy_wh` in Watt-hours

For example:

```
t_start = 2023-12-31 12:19:47.764300544+01:00
t_end = 2024-01-02 16:48:17.680527360+01:00
energy_wh = 33541.0
```

# Data

In [2]:
!pip install pandas

/home/hegele/ch-auth/start_ssh_agent.sh
Identity added: /home/hegele/.ssh/mariushegele_github (hegele@ENBW-5CD3244067)
Requirement already satisfied: pandas in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/hegele/facilitator/backend/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('charging_sessions_2024.csv', index_col=0)
df.t_start = pd.to_datetime(df.t_start, utc=True)
df.t_end = pd.to_datetime(df.t_end, utc=True)
df.t_start = df.t_start.dt.tz_convert('Europe/Berlin')
df.t_end = df.t_end.dt.tz_convert('Europe/Berlin')

In [5]:
df.head()

,t_start,t_end,energy_wh
0,2023-12-31 12:19:47.764300544+01:00,2024-01-02 16:48:17.680527360+01:00,33541.0
1,2024-01-02 05:17:03.264266240+01:00,2024-01-02 14:58:56.566043648+01:00,11322.0
2,2024-01-02 05:40:00.790305792+01:00,2024-01-02 17:40:44.944933120+01:00,11974.0
3,2024-01-02 05:43:00.137842176+01:00,2024-01-02 12:18:20.466518272+01:00,32258.0
4,2024-01-02 07:26:09.277101824+01:00,2024-01-02 17:09:52.622109440+01:00,35038.0

In [6]:
df.dtypes

t_start      datetime64[ns, Europe/Berlin]
t_end        datetime64[ns, Europe/Berlin]
energy_wh                          float64
dtype: object

In [7]:
df.t_start.dt.hour

0        12
1         5
2         5
3         5
4         7
         ..
10782    14
10783    15
10784    15
10785    16
10786    17
Name: t_start, Length: 10787, dtype: int32

# Characterizing charging behavior

We would like to figure out:

- when do people charge and how much?
- what is the daily load distribution?
- can we make a statement about the typical usage patterns?